# Build products
src/radstatus
src/radlogin
src/radiusclient
src/radexample
src/radembedded
src/radacct
*.o
*.lo
*.la
lib/.libs
lib/.deps
src/.libs
src/.deps
etc/radiusclient.conf
etc/radiusclient-tls.conf
lib/libradcli.pc
.deps

# Configure and Automake
configure
config.status
config.cache
config.log
config.h
libtool
stamp-h*
Makefile
Makefile.in
autom4te.cache/
compile
test-driver
config.rpath
aclocal.m4
config.h.in
config.guess
config.sub
depcomp
install-sh
ltmain.sh
missing
m4/libtool.m4
m4/lt~obsolete.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4

# Misc
*.swp
*~

