# Build products
src/radstatus
src/radlogin
src/radiusclient
src/radexample
src/radembedded
src/radacct
*.o
*.lo
*.la
lib/.libs
lib/.deps
src/.libs
src/.deps
etc/radiusclient.conf
etc/radiusclient-tls.conf
m4

# Configure and Automake
configure
config.status
config.cache
config.log
config.h
libtool
stamp-h*
Makefile
Makefile.in
autom4te.cache/
compile
test-driver
config.rpath
aclocal.m4
config.h.in

# Misc
*.swp
*~

