#!/usr/bin/make -f
# Made with the aid of dh_make, by Craig Small
# Sample debian/rules that uses debhelper. GNU copyright 1997 by Joey Hess.
# This version is for a hypothetical package that builds an
# architecture-dependant package, as well as an architecture-independant
# package.

package=radiusclient-ng

version=$(shell expr `pwd` : '.*-\([0-9.]*\)')
version_major=$(shell expr `pwd` : '.*-\([0-9]*\).[0-9.]*')
version_so=2.0.0

topdir=$(shell pwd)

# Uncomment this to turn on verbose mode. 
#export DH_VERBOSE=1

build: build-stamp
build-stamp:
	dh_testdir

	@( \
	  for link in config.guess config.sub ltmain.sh missing mkinstalldirs; do \
		ln -s /usr/share/libtool/$$link $$link; \
	  done; \
	)

	./configure --prefix=/usr --sysconfdir=/etc --enable-shadow

	rm -f libtool
	ln -s /usr/bin/libtool libtool

	make

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp

	-rm -rf static shared
	@( \
	  for link in config.guess config.sub ltmain.sh missing mkinstalldirs; do \
		rm -f $$link; \
	  done; \
	)

	# Add here commands to clean up after the build process.
	-$(MAKE) distclean

	dh_clean

dirs:
	dh_installdirs

	dh_testdir
	dh_testroot

	dh_installdocs
	dh_installexamples
	dh_installmenu
#	dh_installmanpages
	dh_undocumented login.radius.1 radacct.1 radexample.1 radlogin.1 radstatus.1
	dh_installchangelogs 

binary-arch: dirs radiusclient-ng libradius-ng libradius-ng-dev
	dh_installdeb

	dh_strip
	dh_compress
	dh_fixperms

	dh_shlibdeps
	dh_gencontrol
	dh_makeshlibs -m$(version_so)
	dh_md5sums

	chmod 600 $(topdir)/debian/tmp/etc/radiusclient-ng/servers
	dh_builddeb

radiusclient-ng: build
	for file in radacct radexample radlogin radstatus; do \
	  install -m755 $(topdir)/src/.libs/$$file $(topdir)/debian/tmp/usr/sbin; \
	done
	install -m755 $(topdir)/login.radius/migs/login.radius $(topdir)/debian/tmp/usr/sbin
	for file in issue port-id-map servers; do \
	  install -m644 $(topdir)/etc/$$file $(topdir)/debian/tmp/etc/radiusclient-ng; \
	done

libradius-ng: build
	install -m755 $(topdir)/lib/.libs/libfreeradius-client.so.$(version_so) debian/libradius-ng/usr/lib
	for file in radiusclient.conf dictionary dictionary.ascend dictionary.compat dictionary.merit; do \
	  install -m644 $(topdir)/etc/$$file $(topdir)/debian/libradius-ng/etc/radiusclient-ng; \
	done
	cd debian/libradius-ng/usr/lib && ln -s libfreeradius-client.so.$(version_so) libfreeradius-client.so.2

libradius-ng-dev: build
	install -m644 $(topdir)/include/freeradius-client.h $(topdir)/debian/libradius-ng-dev/usr/include
	install -m644 $(topdir)/lib/.libs/libfreeradius-client.a $(topdir)/debian/libradius-ng-dev/usr/lib
	install -m644 $(topdir)/lib/libfreeradius-client.la $(topdir)/debian/libradius-ng-dev/usr/lib
	cd debian/libradius-ng-dev/usr/lib && ln -s libfreeradius-client.so.$(version_so) libfreeradius-client.so

source diff:                                                                  
	@echo >&2 'source and diff are obsolete - use dpkg-source -b'; false

binary: binary-arch
.PHONY: build clean binary-arch binary radiusclient-ng libradius-ng-dev

# Local variables:
# mode: Makefile
# End:
